.body {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.modal {
  background: white;
  width: 50vh;
  height: 60vh;
  border-radius: 15px;
  padding: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);   
}

.createtreebutton {
    display: inline-block;
    padding: 0.7em 0.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
  }
  .createtreebutton:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  }
  @media all and (max-width: 30em) {
    .createtreebutton {
      display: block;
      margin: 0.4em auto;
    }
  }
  
