.container {
  display: flex;
  width: 98vw;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(254, 254, 254);
}

.leftcolumn {
  width: 10vw;
  min-width: 140px;
}

.middlecolumn {
  width: 40vw;
  min-width: 500px;
}

.middlecolumn > *,
.rightcolumn > * {
  margin: 30px 0;
}

.rightcolumn {
  width: 25vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-evenly;
}

.iconcircle {
  background: lightgrey;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonEvent {
  padding: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.tree {
  position: relative;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  width: 98vw;
  padding: 20px;
  margin: 0 auto;
  height: 60vh;
}

.events {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 82%;
  background: rgb(243, 248, 248);
  border-radius: 15px;
  padding: 10px;
}

.eventheading {
  margin: 0 auto;
}

.viewmore {
  position: absolute;
  top: 90%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
