.header {
  width: 99vw;
  height: 10vh;
  background: rgba(255, 232, 130, 0.4);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  width: 98vw;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(254, 254, 254);
  /* border: 3px green solid; */
  padding-top: 1rem;
}

.container > * {
  /* border: 1px green solid; */
}

.leftcolumn {
  width: 10vw;
}

.navbar {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-evenly;
}

.iconcircle {
  background: lightgrey;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middlecolumn {
  width: 65vw;
  margin-left: 5vw;
}

.rightcolumn {
  width: 20vw;
}

.searchcontainer {
  display: flex;
  border: 1px solid #c9c7c7;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;}

.searchBar {
  width: 100%;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
}

.searchbutton {
  margin: 0.3em 0.3em 0.3em 0;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
.buttonEvent {
  background-color: #cc1010;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  width: 40px;
  height: 8%;
  
}

.tree {
  border: 2px solid black;
  width: 98vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 15px; */
  margin-top: 0;
  margin-left: 1vh;
  height: 60vh;
}

.events {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 87%;
  background: rgba(233, 241, 233, 1);
  box-shadow: 0px 4px 4px rgba(83, 79, 79, 0.25);
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.view {
  margin: 0.3em 0.3em 0.3em 0;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 12%;
}
