@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Spartan&display=swap");
/* *:focus {
    outline: 0;
    box-shadow: 0px 0px 4px 5px greenyellow;
  } */

.listItem {
  font-family: "Indie Flower";
  font-size: 1.5em;
  padding-left: 1em;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.listItem::before {
  content: "";
  position: absolute;
  left: -1em;
  background-size: contain;
  height: 1em;
}

.list {
  list-style: none;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
  padding-bottom: 5%;
}

.list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.input {
  font-family: "Indie Flower";
  text-align: center;
  font-size: 15.5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  /* margin: 10px; */
  line-height: 2;
  padding: 8px;
}

.button {
  border-width: 2px;
  margin-top: 4rem;
}

.button:hover {
  border: 2px solid var(--hover-color);
  cursor: pointer;
}

.delete {
  width: 8em;
  height: 5em;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 100%;
}

.App {
  display: flex;
  justify-content: center;
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.inputPadding {
  padding: 0.2em;
  font-size: 2em;
  border-radius: 1em;
}

.eventheading {
  margin: 0 auto;
}

.name {
  margin-left: 2vh;
}
.eventAuthor {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.eventsdisplay {
  display: flex;
  justify-content: space-around;
}

.inputs {
  justify-content: center;
}

.inputs > * {
  padding-bottom: 2vh;
}

.image {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1Title {
  text-decoration: underline;
  font-weight: bold;
}

/* --------DATEPICKER-------- */
.datePicker input {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  margin: 10px;
  line-height: 2;
}

.allbuttons {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding-bottom: 1vh;
}
