@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Spartan&display=swap");
/* *:focus {
    outline: 0;
    box-shadow: 0px 0px 4px 5px greenyellow;
  } */

.listItem {
  font-family: "Indie Flower";
  font-size: 1.5em;
  padding-left: 1em;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.listItem::before {
  content: "";
  position: absolute;
  left: -1em;
  background-size: contain;
  height: 1em;
}

.list {
  list-style: none;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
  padding-bottom: 5%;
}

.list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  display: flex;
  justify-content: center;
}

.input {
  font-family: "Indie Flower";
  padding-left: 0.5em;
  outline: 0;
}

.button {
  border-width: 2px;
}

.button:hover {
  border: 2px solid var(--hover-color);
  cursor: pointer;
}

.delete {
  width: 2em;
  height: 2em;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
    display: flex;
    justify-content: center;
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.inputPadding {
  padding: 0.2em;
  font-size: 2em;
  border-radius: 1em;
}

.eventheading {
  margin: 0 auto;
}

.name {
  margin-left: 2vh;
}

.eventsdisplay {
  display: flex;
  justify-content: space-aroundl;
}

.inputs {
    justify-content: center;
}

.inputs > * {
    padding-bottom: 2vh;
}

.image {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .by {
    display: flex;
    align-items: center;
  }