.header {
  width: 100vw;
  height: 10vh;
  background: rgba(255, 232, 130, 0.4);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.userDisplay {
  background-color: #cc1010;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userDisplay > * {
  margin: 10px;
}

.logout {
  font-size: 14px;
  color: black;
  font-weight: bold;
  background-color: rgba(255, 232, 130);
  padding: 6px;
  border-radius: 5px;
}
