.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.home {
  display: flex;
  justify-content: space-around;
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top {
  background-color: orange;
}

.registerbox {
  padding: 20px;
  background: #cc1010;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-right: 10vw;
}

.register:hover {
  color: white;
}

.infobox {
  padding: 10px;
  background: #cc1010;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-right: 25vw;
}

.info:hover {
  color: white;
}



.tree {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 30vh;
  margin-top: 3vh;
}

/* .treebutton {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
} */

.userimage {
  width: 15vh;
}

.imageAndLogout {
  display: flex;
  flex-direction: column;
}

/* .logoutbutton {
  padding: 5%;
  width: 100%;
  background: grey;
  border-radius: 10px;
  font-size: 3vh;
  font-weight: bold;
  color: white;
} */

.welcome {
  color: black;
  font-size: 5vh;
}

/* .logout {
  display: inline-block;
  padding: 20px 30px;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #cc1010;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}
.logout:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
@media all and (max-width: 30em) {
  .logout {
    display: block;
    margin: 0.4em auto;
  }
} */

.pagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98vw;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98vw;
  margin-top: 3%;
}
.leftcolumn,
.rightcolumn {
  margin: 20px;
}


.rowbottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}

.profilePic {
  border-radius: 50%;
}
