.navbar {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  align-items: flex-start;
  height: 90%;
  justify-content: space-evenly;
}

.iconcircle {
  background:rgb(243, 248, 248);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.images {
  width: 4em;
  height: 4em;
}
