.container {
  margin: 20px 0;
  border-bottom: 1px rgb(211, 211, 211) solid;
}

.username {
  font-weight: bold;
}

.postinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postinfo > * {
    margin: 5px;
}

.timestamp {
    color: grey;
}

.textbox {
  font-size: 18px;
  background:rgb(243, 248, 248);
  padding: 5px 30px;
  width: 90%;
  border-radius: 20px;
}

.like {
  display: flex;
  align-items: center;
}

.postbutton {
  display:flex;
  align-items: center;
}

.delete {
  background-color: black;
}

.userPic{
  border-radius:50%
}