.container {
  margin: 40px 0;
}

.username {
  font-weight: bold;
}

.postinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postinfo > * {
    margin: 5px;
}

.timestamp {
    color: grey;
}

.textbox {
  background:rgba(233, 241, 233, 1);
  padding: 10px;
  width: 90%;
  /* height: 215px; */

  border-radius: 20px;
}

.like {
  display: flex;
  align-items: center;
}

.postbutton {
  display:flex;
  align-items: center;
}

.delete {
  background-color: black;
}

.images {
  display: flex;
  

}

.images:hover {
  /* top:-25px;
  left:-35px; */
  width: 700px;
  height:auto;
  display:block;
  z-index:999;
}