.container {
  margin-bottom: 15px;
  border-bottom: 1px rgb(211, 211, 211) solid;
}

.username {
  font-weight: bold;
}

.postinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postinfo > * {
  margin: 5px;
}

.timestamp {
  color: grey;
}

.textbox {
  font-size: 18px;
  background: rgb(243, 248, 248);
  padding: 5px 30px;
  width: 90%;
  border-radius: 20px;
}

.like {
  display: flex;
  align-items: center;
}

.postbuttons {
  display: flex;
  align-items: center;
}

.likecontainer {
  display: flex;
  align-items: center;
  margin: 0 40px 0 20px;
}

.delete {
  background-color: black;
}

.userPic {
  border-radius: 50%;
}
