.container {
  margin: 40px 0;
}

.username {
  font-weight: bold;
}

.postinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.postinfo > * {
    margin: 5px;
}

.timestamp {
    color: grey;
}

.textbox {
  background: rgba(255, 232, 130, 0.4);
  padding: 10px;
  width: 90%;
  /* height: 215px; */

  border-radius: 20px;
}

.like {
  display: flex;
  align-items: center;
}

.postbutton {
  display:flex;
  align-items: center;
}

.delete {
  margin-left: 700px;
}