.container {
    display:flex;
    flex-direction: row;
    width: 99%;
    font-size: medium;
    flex-wrap: wrap;
    text-align: center;
    
    
}


.logo {
   
   
}

.imageuseapp {
display: flex;
align-content: center;

}

.title {
   display: flex;
  font-weight: bold;
  font-size: large;
  align-content: center;

}

.video {
    
}

.leftcolumn {
 background-color: brown;
 width: 10%;
}
.middlecolumn {
background-color: chartreuse;
width:75%;

}
.rightcolumn {
  background-color: pink;
  width: 14%;
}
.firstrow {
  display: flex;
  flex-direction: row;
  width: 99%;
}

.column1 {
  width:75%;
}
.column2 {

  width:24%;
}

.login {
   padding-bottom: 10px;
   padding-top: 20px;
   background-color: aquamarine;

}


