.container {
    background-color: #f1f6ed;
    height: 100%;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 400px;
    background-color: white;
    margin: 0 auto;
    height: 100%;
    padding: 40px;
  }

  .input {
      margin: 8px;
  }
  
  .createProfile {
    align-self: flex-end;
    border-radius: 20px;
   padding: 10px;
   margin: 10px;
   background-color: aqua;
  }
  
  .goHome {
    align-self: flex-end;
    border-radius: 20px;
   padding: 10px;
   margin: 10px;
   background-color: aqua;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  
  .subInfo {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  }

  .goToUser {
    display: flex;
    align-self: flex-end;
    border-radius: 20px;
   padding: 10px;
   margin: 10px;
   color: white;
   font-weight: bold;
   background-color: #cc1010;

  }