.container {
  height: 100%;
  width: 100%;
  background-color: #f1f6ed;
}

.subContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 400px;
  margin: auto;
}

.createProfile {
  align-self: center;
  border-radius: 20px;
 padding: 10px;
 margin: 10px;
 color: white;
 font-weight: bold;
 background-color: #cc1010;
}

.goHome {
  align-self: flex-end;
  border-radius: 20px;
 padding: 10px;
 margin: 10px;
 color: white;
 font-weight: bold;
 background-color: #cc1010;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.subInfo {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}
