.container {
  display: flex;
  flex-direction: column; 
  width: 100%;
  border: 1px solid #c9c7c7;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.textinput {
  font-size: 30px;
  margin: 20px 30px 5px 30px;
  border: none;
  outline: none;
}

.bottomrow {
  margin: 5px 30px 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.postbutton {
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}
