.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.profile {
  align-items: center;
  text-align: center;
}

.favouriteFood {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.medicals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.clothesSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;

}

.shoeSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  color: red;

}

.info {
  display: inline-grid;
  /* row-gap: 20px; */
  grid-template-rows: repeat(2, 150px);
  gap: 10px 10px;
  grid-template-areas:
    "favouriteFood"
    "medicals"
    "clothesSize"
    "shoeSize";
  /* margin: auto;
  height: 100vh; */
  



  /* flex-direction: column;
  justify-content:space-between;
  align-items: baseline; */
  /* align-content:space-around; */
}


