.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1px solid #c9c7c7;
  box-sizing: border-box;
  border-radius: 10px;
}

.textinput {
  margin: 0 10px;
  font-size: 30px;
  width: 100%;
  border: none;
  outline: none;
}

.postbutton {
  margin: 0.3em 0.3em 0.3em 0;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #cc1010;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  
}
