.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 725.23px;
  height: 74.76px;

  background: #ffffff;
  border: 1px solid #121212;
  box-sizing: border-box;
  border-radius: 10px;
}

.textinput {
  font-size: 30px;
  width: 100%;
  border: none;
}


.submitbutton {
  display: inline-block;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  position: relative;
}
.submitbutton:active {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
@media all and (max-width: 30em) {
  .submitbutton {
    display: block;
    margin: 0.4em auto;
  }
}
